DATABASE_URL=postgres://user:password@localhost:5432/saas_rs?sslmode=disable
APP_DOMAIN=localhost
LOG_LEVEL=info

MIDTRANS_BASE_URL=https://app.sandbox.midtrans.com
MIDTRANS_SERVER_KEY=replace
MIDTRANS_CLIENT_KEY=replace

AUTH_ISSUER=http://localhost:8080/realms/demo
AUTH_AUDIENCE=saas-rs
